<header class="header">
  <div class="container header-container">
    <svg class="icon-logo" aria-label="mobile menu">
      <use href="..//img/icons.svg#icon-logo"></use>
    </svg>
    <nav class="menu-nav">
      <ul class="menu-nav-list">
        <li class="menu-nav-item">
          <a href="#how-it-works" class="link current">How It Works</a>
        </li>
        <li class="menu-nav-item">
          <a href="#vegetables" class="link">Vegetables</a>
        </li>
        <li class="menu-nav-item">
          <a href="#reviews" class="link">Reviews</a>
        </li>
      </ul>
    </nav>
    <button type="button" class="button">SHOP NOW</button>
    <button class="open-menu-button">
      <svg class="icon-burger" aria-label="mobile menu">
        <use href="../img/icons.svg#icon-menu"></use>
      </svg>
    </button>
  </div>
</header>
<!-- mobile-menu -->
<div class="menu-container">
  <button class="menu-close-button">
    <svg class="menu-close-icon" aria-label="icon close">
      <use href="../img/icons.svg#icon-close"></use>
    </svg>
  </button>
  <div class="link-menu">
    <ul class="menu-list">
      <li class="menu-item">
        <a href="#how-it-Works" class="menu-link">How It Works</a>
      </li>
      <li class="menu-item">
        <a href="#vegetables" class="menu-link">Vegetables</a>
      </li>
      <li class="menu-item">
        <a href="#reviews" class="menu-link">Reviews</a>
      </li>
    </ul>
  </div>
  <button type="button" class="menu-shop-button">SHOP NOW</button>
</div>