<header class="header">
  <div class="container">
    <div class="logo-wrap">
      <a class="logo-link" href="">
        <svg class="logo-img">
          <use href="./img/icons.svg#icon-logo"></use>
        </svg>
      </a>
    </div>
    <div class="nav-wrap">
      <ul class="nav-list">
        <li class="nav-list-item">
          <a class="nav-link" href="">How It Works</a>
        </li>
        <li class="nav-list-item">
          <a class="nav-link" href="">Vegetables</a>
        </li>
        <li class="nav-list-item">
          <a class="nav-link" href="">Reviews</a>
        </li>
      </ul>
      <button class="shop-now" type="button">shop now</button>
    </div>
    <button class="menu-btn" type="button">
      <svg class="menu-icon">
        <use href="../img/icons.svg#icon-menu"></use>
      </svg>
    </button>
  </div>
</header>