<section class="hero">
  <div class="container">
    <h1 class="hero-title">organic vegetables to your diet today!</h1>
    <p class="hero-text">
      Our expertly curated vegetable baskets are made with the freshest, highest
      quality vegetables available. Fresh Harvest Box has got you covered.
      Fresh, high-quality vegetables in expertly curated vegetable baskets
      delivered to you.
    </p>
    <picture class="hero-image">
      <source
        srcset="
          ../img/images-hero/desk-hero-2x.jpg 2x,
          ../img/images-hero/desk-hero-1x.jpg 1x
        "
        media="(min-width: 1280px)"
        width="650"
        height="800"
      />
      <source
        srcset="
          ../img/images-hero/tab-hero-2x.jpg 2x,
          ../img/images-hero/tab-hero-1x.jpg 1x
        "
        media="(min-width: 768px)"
        width="768"
        height="539"
      />
      <source
        srcset="
          ../img/images-hero/mob-hero-2x.jpg 2x,
          ../img/images-hero/mob-hero-1x.jpg 1x
        "
        media="(max-width: 767px)"
        width="375"
        height="370"
      />
      <img
        src="../img/images-hero/tab-hero-1x.jpg"
        alt="vegetables"
        width="768"
        height="579"
      />
    </picture>
  </div>
</section>
