<section class="works">
  <div class="container works-container">
    <div class="works-cont-img">
        <div class="works-image">
          <img srcset="
                    ./img/how_it_works1/hiw.jpg    1x,
                    ./img/how_it_works1/hiw-2x.jpg 2x
                  " src="./img/how_it_works1/hiw.jpg" alt="photo of women" width="944" height="640" />
        </div>
    </div>
    <div class="works-content">
      <div class="works-content-text">
        <h2 class="visually-hidden">How it works</h2>
        <h3 class="works-subtitle">
          To order your
          <span class="works-subtitle-accent">vegetable</span> basket, simply follow
          these <span class="works-subtitle-accent">easy steps</span>
        </h3>
        <p class="works-discribe">
          Our baskets are assembled with care and delivered straight to your
          doorstep, so you can enjoy the taste of fresh fruit without ever leaving
          your home.
        </p>
        <ol class="works-list">
          <li class="works-item">
            Just choose <span class="works-item-accent">the vegetable</span> you
            want to order by clicking on the checkboxes
            <span class="works-item-accent">next to it</span>.
          </li>
          <li class="works-item">
            Click on <span class="works-item-accent">the basket</span> and fill out
            the form.
          </li>
          <li class="works-item">
            Sit back and relax! Your
            <span class="works-item-accent">fresh vegetables</span> basket will be
            delivered.
          </li>
        </ol>
      </div>
    </div>
  </div>
</section>
