
<section class="rewiews">
<div class="container rewiews-container">
    <h2 class="rewiews-title">reviews from our <span class="rewiews-title-accent">customers</span></h2>
    <p class="rewiews-text">Words of our customers: impressions and opinions about the quality of our services and the freshness of our products.</p>
    <ul class="rewiews-list">
      <li class="rewiews-item">
        <img  srcset="../img/rewiews/john.jpg 1x, ../img/rewiews/john-2x.jpg 2x" src="../img/rewiews/john.jpg" alt="John Wax" width="56" height="56">
        <h3>John Wax</h3>
        <p class="rewiews-content">These vegetables are my secret to delicious and healthy meals. The quality is always at the highest level, the aroma and
        taste are enchanting. I advise every fan of real products!</p>
      </li>
      <li class="rewiews-item">
          <img srcset="../img/rewiews/victoria.jpg 1x, ../img/rewiews/victoria-2x.jpg 2x" src="../img/rewiews/victoria.jpg" alt="Victoria Romashenko"
            width="56" height="56">
          <h3>Victoria Romashenko</h3>
        <p class="rewiews-content">I love how fast and fresh the vegetables are delivered. Salads always turn out so appetizing, and soups are real
        masterpieces. The quality is impeccable!</p>
      </li>
      <li class="rewiews-item">
          <img srcset="../img/rewiews/ihor.jpg 1x, ../img/rewiews/ihor-2x.jpg 2x" src="../img/rewiews/ihor.jpg" alt="Ihor Trachuk"
            width="56" height="56">
          <h3>Ihor Trachuk</h3>
        <p class="rewiews-content">Recently tried my fresh tomatoes and peppers - amazing! The authenticity of the taste, as if from the garden directly to
        my table. It is now my main vegetable supplier.</p>
      </li>
    </ul>
</div>
</section>