<section class="reviews" id="reviews">
  <div class="container">
    <h2 class="reviews-title">
      reviews from our <span class="reviews-title-accent">customers</span>
    </h2>
    <p class="reviews-text">
      Words of our customers: impressions and opinions about the quality of our
      services and the freshness of our products.
    </p>
    <ul class="reviews-list">
      <li class="reviews-item">
        <img
          srcset="./img/reviews/john.png 1x, ./img/reviews/john-2x.png 2x"
          src="./img/reviews/john.png"
          alt="John Wax"
          width="56"
          height="56"
        />
        <h3 class="reviews-name">John Wax</h3>
        <p class="reviews-content">
          These vegetables are my secret to delicious and healthy meals. The
          quality is always at the highest level, the aroma and taste are
          enchanting. I advise every fan of real products!
        </p>
      </li>
      <li class="reviews-item">
        <img
          srcset="
            ./img/reviews/victoria.png    1x,
            ./img/reviews/victoria-2x.png 2x
          "
          src="./img/reviews/victoria.png"
          alt="Victoria Romashenko"
          width="56"
          height="56"
        />
        <h3 class="reviews-name">Victoria Romashenko</h3>
        <p class="reviews-content">
          I love how fast and fresh the vegetables are delivered. Salads always
          turn out so appetizing, and soups are real masterpieces. The quality
          is impeccable!
        </p>
      </li>
      <li class="reviews-item">
        <img
          srcset="./img/reviews/ihor.png 1x, ./img/reviews/ihor-2x.png 2x"
          src="./img/reviews/ihor.png"
          alt="Ihor Trachuk"
          width="56"
          height="56"
        />
        <h3 class="reviews-name">Ihor Trachuk</h3>
        <p class="reviews-content">
          Recently tried my fresh tomatoes and peppers - amazing! The
          authenticity of the taste, as if from the garden directly to my table.
          It is now my main vegetable supplier.
        </p>
      </li>
    </ul>
  </div>
</section>
