<section class="vegs">
  <div class="container vegetables">
    
    <h2 class="section-vegs-title">ORGANIC VIGETABLES</h2>
    
    <p class="vegs-text">Our organic vegetables are hand-picked from local farms and delivered straight to your doorstep, ensuring that you get the freshest and most nutritious produce possible.</p>
    
    <ul class="vegs-item">

      <li class="vegs-list">
        <h3 class="types-of-vegetables">eggplant</h3>
        <p class="price">60 UAH/KG</p>
        <img class="item-vegs-img"
        srcset="./img/vegetables/eggplant-2x.jpg 2x,
        ./img/vegetables/eggplant-1x.jpg 1x"
        src="./img/vegetables/eggplant-1x.jpg"
        width="282"
        height="243"
        alt="eggplant"/>
        </li>

        <li class="vegs-list">
          <h3 class="types-of-vegetables">leek</h3>
          <p class="price">50 UAH/KG</p>
          <img class="item-vegs-img"
          srcset="./img/vegetables/leek-2x.jpg 2x,
          ./img/vegetables/leek-1x.jpg 1x"
          src="./img/vegetables/leek-1x.jpg"
          width="282"
          height="243"
          alt="leek"/>
          </li>

          <li class="vegs-list">
            <h3 class="types-of-vegetables">mushrooms</h3>
            <p class="price">40 UAH/KG</p>
            <img class="item-vegs-img"
            srcset="./img/vegetables/mushrooms-2x.jpg 2x,
            ./img/vegetables/mushrooms-1x.jpg 1x"
            src="./img/vegetables/mushrooms-1x.jpg"
            width="282"
            height="243"
            alt="mushrooms"/>
            </li>

            <li class="vegs-list">
              <h3 class="types-of-vegetables">corn</h3>
              <p class="price">60 UAH/KG</p>
              <img class="item-vegs-img"
              srcset="./img/vegetables/corn-2x.jpg 2x,
              ./img/vegetables/corn-1x.jpg 1x"
              src="./img/vegetables/corn-1x.jpg"
              width="282"
              height="243"
              alt="corn"/>

              <li class="vegs-list">
                <h3 class="types-of-vegetables">potatoes</h3>
                <p class="price">50 UAH/KG</p>
                <img class="item-vegs-img"
                srcset="./img/vegetables/potatoes-2x.jpg 2x,
                ./img/vegetables/potatoes-1x.jpg 1x"
                src="./img/vegetables/potatoes-1x.jpg"
                width="282"
                height="243"
                alt="potatoes"/> 
              </li>

              <li class="vegs-list">
                <h3 class="types-of-vegetables">carrot</h3>
                <p class="price">40 UAH/KG</p>
                <img class="item-vegs-img"
                srcset="./img/vegetables/carrot-2x.jpg 2x,
                ./img/vegetables/carrot-1x.jpg 1x"
                src="./img/vegetables/carrot-1x.jpg"
                width="282"
                height="243"
                alt="carrot"/> 
              </li>

    </ul>
  </div>
</section>


