<section class="vegs" id="vegetables">
  <div class="container">
    <h2 class="vegs-title">
      ORGANIC <span class="vegs-title-accent">VEGETABLES</span>
    </h2>
    <p class="vegs-text">
      Our organic vegetables are hand-picked from local farms and delivered
      straight to your doorstep, ensuring that you get the freshest and most
      nutritious produce possible.
    </p>
    <ul class="vegs-list">
      <li class="vegs-item">
        <div class="vegs-wrap">
          <h3 class="vegs-subtitle">eggplant</h3>
          <p class="vegs-price">60 UAH / KG</p>
        </div>
        <img
          class="vegs-img"
          srcset="
            ../img/vegetables/eggplant-2x.png 2x,
            ../img/vegetables/eggplant-1x.png 1x
          "
          src="../img/vegetables/eggplant-1x.png"
          width="282"
          height="243"
          alt="eggplant"
        />
      </li>
      <li class="vegs-item">
        <div class="vegs-wrap">
          <h3 class="vegs-subtitle">leek</h3>
          <p class="vegs-price">50 UAH / KG</p>
        </div>
        <img
          class="vegs-img"
          srcset="
            ../img/vegetables/leek-2x.png 2x,
            ../img/vegetables/leek-1x.png 1x
          "
          src="../img/vegetables/leek-1x.png"
          width="282"
          height="243"
          alt="leek"
        />
      </li>
      <li class="vegs-item">
        <div class="vegs-wrap">
          <h3 class="vegs-subtitle">mushrooms</h3>
          <p class="vegs-price">40 UAH / KG</p>
        </div>
        <img
          class="vegs-img"
          srcset="
            ../img/vegetables/mushrooms-2x.png 2x,
            ../img/vegetables/mushrooms-1x.png 1x
          "
          src="../img/vegetables/mushrooms-1x.png"
          width="282"
          height="243"
          alt="mushrooms"
        />
      </li>
      <li class="vegs-item">
        <div class="vegs-wrap">
          <h3 class="vegs-subtitle">corn</h3>
          <p class="vegs-price">60 UAH / KG</p>
        </div>
        <img
          class="vegs-img"
          srcset="
            ../img/vegetables/corn-2x.png 2x,
            ../img/vegetables/corn-1x.png 1x
          "
          src="../img/vegetables/corn-1x.png"
          width="282"
          height="243"
          alt="corn"
        />
      </li>

      <li class="vegs-item">
        <div class="vegs-wrap">
          <h3 class="vegs-subtitle">sweet potatoes</h3>
          <p class="vegs-price">50 UAH / KG</p>
        </div>
        <img
          class="vegs-img"
          srcset="
            ../img/vegetables/potatoes-2x.png 2x,
            ../img/vegetables/potatoes-1x.png 1x
          "
          src="../img/vegetables/potatoes-1x.png"
          width="282"
          height="243"
          alt="potatoes"
        />
      </li>
      <li class="vegs-item">
        <div class="vegs-wrap">
          <h3 class="vegs-subtitle">carrot</h3>
          <p class="vegs-price">40 UAH / KG</p>
        </div>
        <img
          class="vegs-img"
          srcset="
            ../img/vegetables/carrot-2x.png 2x,
            ../img/vegetables/carrot-1x.png 1x
          "
          src="../img/vegetables/carrot-1x.png"
          width="282"
          height="243"
          alt="carrot"
        />
      </li>
    </ul>
  </div>
</section>