<section class="order-section">
  <div class="container">
    <h2>Fresh <span>Harvest</span> Box has got you covered</h2>
    <p>
      Our boxes are packed with delicious, nutritious vegetables, perfect for anyone looking to eat healthier or
      support local
      farmers. Order your box today and start enjoying the best that nature has to offer!
    </p>
    <div class="order-flex">
      <form action="">
        <fieldset>
          <legend>Ordering <span>from us</span> is quick and easy! Fill out <span>the form</span> below and we
            will contact
            you !
          </legend>
          <input type="text" placeholder="Full Name">
          <input type="email" placeholder="Email">
          <textarea name="comment" id="comment" placeholder="Comment"></textarea>
          <button type="submit">send</button>
        </fieldset>
      </form>
      <div class="socials">
        <picture>
          <source
            srcset="../img/order-section-img/lemon-squeeze-desk@1x.jpg 1x, ../img/order-section-img/lemon-squeeze-desk@2x.jpg 2x"
            media="(min-width: 1280px)">
          <source
            srcset="../img/order-section-img/lemon-squeeze-tab@1x.jpg 1x, ../img/order-section-img/lemon-squeeze-tab@2x.jpg 2x"
            media="(min-width: 768px)">
          <source
            srcset="../img/order-section-img/lemon-squeeze-mob@1x.jpg 1x, ../img/order-section-img/lemon-squeeze-mob@2x.jpg 2x"
            media="(max-width: 767px)">
          <img src="../img/order-section-img/lemon-squeeze-tab@1x.jpg" alt="">
        </picture>
        <p>Follow us on our social networks:</p>
        <ul>
          <li><a href="#">instagram</a></li>
          <li><a href="#">facebook</a></li>
          <li><a href="#">youtube</a></li>
        </ul>
      </div>
    </div>
  </div>
</section>