<section class="order">
  <div class="container">
    <h2 class="order-header">Fresh <span>Harvest</span> Box has got you covered</h2>
    <p class="order-paragraph">
      Our boxes are packed with delicious, nutritious vegetables, perfect for anyone looking to eat healthier or
      support local
      farmers. Order your box today and start enjoying the best that nature has to offer!
    </p>
    <div class="order-wrap">
      <form class="order-form">
        <p class="field-header">Ordering <span id="purple">from us</span> is quick and easy! Fill out <span
            id="green">the
            form</span>
          below and we
          will contact
          you !
        </p>
        <input class="order-input" name="user_name" type="text" placeholder="Full Name">
        <input class="order-input" name="email" type="email" placeholder="Email">
        <textarea class="order-comment" name="comment" placeholder="Comment"></textarea>
        <button class="order-button" type="submit">send</button>
      </form>
      <div class="soc-wrap">
        <picture class="lemon-squeeze">
          <source srcset="../img/order-section-img/order-desk@1x.jpg 1x, ../img/order-section-img/order-desk@2x.jpg 2x"
            media="(min-width: 1280px)">
          <source srcset="../img/order-section-img/order-tab@1x.jpg 1x, ../img/order-section-img/order-tab@2x.jpg 2x"
            media="(min-width: 768px)">
          <source srcset="../img/order-section-img/order-mob@1x.jpg 1x, ../img/order-section-img/order-mob@2x.jpg 2x"
            media="(max-width: 767px)">
          <img src="../img/order-section-img/order-tab@1x.jpg" width="528" height="273" alt="Lemon gets squeezed">
        </picture>
        <p class="follow-us">Follow us on our social networks:</p>
        <ul class="follow-us-list">
          <li class="follow-us-item"><a class="follow-us-link" href="" target="_blank">instagram<span>/</span></a></li>
          <li class="follow-us-item"><a class="follow-us-link" href="" target="_blank">facebook<span>/</span></a></li>
          <li class="follow-us-item"><a class="follow-us-link" href="" target="_blank">youtube</a></li>
        </ul>
      </div>
    </div>
  </div>
</section>