.ad-container {
  background-color: #fbfbfb;
  width: 100%;
  padding-top: 80px;
  padding-bottom: 80px;
  display: block;
  margin: 0 auto;

}

.ad-box {
  width: 100%;

}

.ad-text {
  font-weight: 600;
  font-size: 48px;
  line-height: 1.041;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  color: #141414;
}

.ad-border {
  display: block;
  border-radius: 12px;
  max-width: 355px;
  height: 102px;
  padding: 3px 10px;
  margin: 0 -10px;
  background-color: #576f35;
  color: #fbfbfb;
}

@media screen and (min-width: 768px) {
  .ad-container {
    padding: 100px 0 100px 0;
    max-width: 768px ;
  }

  .ad-box {
    min-width: 768px;
    padding: 0 32px;
  }

  .ad-border {
    min-width: 736px;
    height: 86px;
    padding: 8px 16px;
    margin: 0 -15px;
  }

  .ad-text {
    font-size: 64px;
    line-height: 1.093;
  }
}

@media screen and (min-width: 1280px) {
  .ad-container {
    padding: 100px;
    max-width: 1280px;
    margin: 0 auto;
  }

  .ad-box {
    min-width: 1080px;
    padding: 0 13px;
    
  }

  .ad-border {
    display: inline-block;
    min-width: 808px;
    padding: 0 0 0 13px;
    margin: 0 -13px;
  }

  .ad-text {
    min-width: 1054px;
    font-size: 76px;
    line-height: 1.052;
  }
}
