.footer-section {
background-color: #7a3145;
}

.footer-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
  padding: 40px 20px;
  width: 375px;
  height: 520px;
  background-color: #7a3145;
  
}
.footer-box {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.footer-wrap {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.footer-logo {
  fill: #fbfbfb;
}
.footer-txt {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.28;
  width: 296px;
  color: #fbfbfb;
}

.footer-nav-box {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.footer-navigation-box {
  display: flex;
  flex-direction: column;
  gap: 14px;
}
.footer-nav-link {
  font-weight: 600;
  font-size: 28px;
  line-height: 1;
  letter-spacing: -0.01em;
  color: #fbfbfb;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-nav-link:focus {
  color: #d5bfc5;
}

.footer-address-box {
  display: flex;
  flex-direction: column;
  gap: 14px;
  width: 179px;
}

.footer-address-link {
  font-weight: 600;
  font-size: 14px;
  line-height: 1.28;
  letter-spacing: -0.01em;
  color: #fbfbfb;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-address-link:focus {
  color: #d5bfc5;
}

.privacy {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.privacy-box {
  display: flex;
  gap: 8px;
}

.privacy-text {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: -0.01em;
  color: rgba(251, 251, 251, 0.5);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.privacy-text:focus {
  color: #d5bfc5;
}

.privacy-text-copy {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: -0.01em;
  color: rgba(251, 251, 251, 0.5);
}


@media screen and (min-width: 768px) {

  .footer-container {
padding: 32px;
width: 768px;
height: 479px;


  }
  .footer-box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .footer-svg  {
    width: 194px;
    height: 18px;
  }
  .footer-wrap {
    width: 265px;
height: 103px;

  }

  .footer-txt {
font-size: 16px;
line-height: 1.25;
  }

  .footer-navigation-box {
    gap: 25px;
  }

  .footer-nav-box {
    gap: 64px;
  }

  .footer-nav-link {
    font-size: 32px;
  }

  .footer-address-box {
    gap: 25px;
    width: 215px;
  }

  .footer-address-link {
font-size: 18px;
line-height: 1.11;
  }

  .privacy-text {
font-size: 18px;
line-height: 1.11;
  }
  .privacy-text-copy {
  font-size: 18px;
  line-height: 1.11;
  }
}


@media screen and (min-width: 1280px)  {

  .footer-container {
padding: 50px 100px;
width: 1280px;
height: 391px;
  }
  .footer-nav-box {
    gap: 0;
    width: 513px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}
