.hero .container {
  padding: 0;
  max-width: none;
}

.hero {
  background-color: #576f35;
}

.hero-content {
  padding: 100px 20px 40px 20px;
  max-width: 335px;
}

.hero-title { 
  font-weight: 600;
  line-height: 1;
  font-size: 12vw;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  color: #fbfbfb;
  margin-bottom: 20px;
  max-width: 335px;
}

@media screen and (min-width: 375px) {
  .hero-title {
    font-size: 48px;
  }
}

.hero-text {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.28571;
  color: #fbfbfb;
  max-width: 335px;
}

.hero-image {
  background-image: linear-gradient(
      rgba(20, 20, 20, 0.2),
      rgba(20, 20, 20, 0.2)
    ),
    url(/img/images-hero/mob-hero-1x.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  min-height: 370px;
}

@media screen and (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero-image {
    background-image: linear-gradient(
        rgba(20, 20, 20, 0.2),
        rgba(20, 20, 20, 0.2)
      ),
      url(/img/images-hero/mob-hero-2x.jpg);
  }
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }

  .hero-content {
    padding: 122px 32px 50px 32px;
    max-width: 768px;
  }

  .hero-title {
    font-size: 76px;
    margin-bottom: 25px;
    max-width: 704px;
  }

  .hero-text {
    font-size: 16px;
    max-width: 603px;
    margin-left: 0;
  }

  .hero-image {
    background-image: linear-gradient(
        rgba(20, 20, 20, 0.2),
        rgba(20, 20, 20, 0.2)
      ),
      url(/img/images-hero/tab-hero-1x.jpg);
    min-height: 539px;
    min-width: 768px;
  }

  @media screen and (min-resolution: 192dpi), (min-resolution: 2dppx) {
    .hero-image {
      background-image: linear-gradient(
          rgba(20, 20, 20, 0.2),
          rgba(20, 20, 20, 0.2)
        ),
        url(/img/images-hero/tab-hero-2x.jpg);
    }
  }
}

@media screen and (min-width: 1280px) {
  .hero .container {
    max-width: 1280px;
  }

  .hero-content {
    padding: 238px 28px 50px 100px;
    min-width: 630px;
  }

  .hero-inner {
    display: flex;
    flex-direction: row;
  }

  .hero-title {
    margin-bottom: 128px;
  }

  .hero-text {
    max-width: 472px;
  }

  .hero-image {
    background-image: linear-gradient(
        rgba(20, 20, 20, 0.2),
        rgba(20, 20, 20, 0.2)
      ),
      url(/img/images-hero/desk-hero-1x.jpg);
    max-width: 650px;
    min-height: 800px;
  }

  @media screen and (min-resolution: 192dpi), (min-resolution: 2dppx) {
    .hero-image {
      background-image: linear-gradient(
          rgba(20, 20, 20, 0.2),
          rgba(20, 20, 20, 0.2)
        ),
        url(/img/images-hero/desk-hero-2x.jpg);
    }
  }
}
