h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
  font-style: normal;
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

button {
  cursor: pointer;
}

body {
  font-family: 'Inter Tight', sans-serif;
  color: #fbfbfb;
  background-color: #7a3145;
}

.container {
  max-width: 375px;
  padding: 0 20px;
  margin: 0 auto;
}


