/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/

@import url('./reset.css');

@import url('./header_menu.css');

@import url('./hero.css');

@import url('./how_it_works.css');

@import url('./advertisement.css');

@import url('./vegetables.css');

@import url('./reviews.css');

@import url('./your_order.css');

@import url('./footer.css');
