.vegs {
  background-color: #7a3145;
}

.container {
  width: 375px;
  padding: 80px 20px;
  margin: 0 auto;
}
.vegs-title {
font-weight: 600;
font-size: 48px;
line-height: 104%;
letter-spacing: -0.01em;
text-transform: uppercase;
color: #fbfbfb;
margin-bottom: 20px;
width: 335px;

}

.vegs-title-accent {
  color: rgba(251, 251, 251, 0.3);
  
}

.vegs-text {
  font-weight: 500;
font-size: 14px;
line-height: 1,25%;
color: #fbfbfb;
margin-bottom: 40px;

}

.vegs-list {
display: flex;
flex-wrap: wrap;
gap: 20px;
list-style-type: none;
}

.vegs-item {
  border-radius: 40px;
  padding: 32px 26px;
  background: #fbfbfb;
  width: 334px;
  height: 379px;
}

.vegs-subtitle {
font-weight: 600;
font-size: 28px;
line-height: 1;
letter-spacing: -0.01em;
color:  #7a3145;
margin-bottom: 12px;
align-items: left;
}

.vegs-price {
  font-weight: 600;
  font-size: 14px;
  line-height: 1,25%;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  color: #141414;
  margin-bottom: 14px;
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
    padding: 100px 32px;
    
  }

  .vegs-title {
    font-size: 64px;
    line-height: 100%;
    margin-bottom: 50px;
    
  
  }

  .vegs-text {
    font-size: 16px;
    line-height: 125%;
    width: 626px;
    margin-bottom: 50px;
   
  }

  .vegs-list {
    gap: 20px 28px;
    justify-content: center;
  }

  .vegs-item {
    width: calc((100% - 20)/2);
    
  }
  .vegs-subtitle {
    font-size: 32px;
  }

}

@media screen and (min-width: 1280px) {
  .container{
    width: 1280px;
    padding: 100px;
  } 
  .vegs-title {
    margin-bottom: 25px;
  }
  .vegs-list {
    gap: 21px 28px;
  }
  .vegs-item {
    padding: 32px;
    width: calc((100% - 21*2)/3);
  }
}